
.body {
    background: linear-gradient(135deg, #b7b7b7 0%, #ccced1 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}
.header {
    justify-content:center;
    margin: auto;
    margin-bottom: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    color: black;
    width: 100%;
    background-image: url(./Images/background_header.png);
}

/* GENERADO CON CHATGPT */
.header-h1 {
    margin: auto;
    margin-top:auto;
    font-size: clamp(1rem, 2vw, 3rem);
    font-family:'Arial Bold';
    width: auto;
    justify-content: center;
    height: 90%;
    padding: 1%;
}

.logos-header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.17);
    padding-top: 1%;
    gap:7%;
    margin-bottom: auto;
    
}
.dashboard-container {
    max-width: 100%;
    margin: auto;
    padding:0%;
    color:transparent;
}
.actions-container {
    display: flex;
    gap: 5%;
    justify-content: center;
    color:transparent;
    width: 100%;
}
.action-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.10);
    padding: 1%;
    text-align: center;
    transition: all 0.3s;
    border: 1px solid #000000;
    margin-bottom:0.5rem;
    margin: 2;
    width: 25%;
    display: grid;
    justify-content: space-between;
    font-family:'Arial bold'
}
.action-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(164, 33, 68, 0.15);
    border-color: black;
}
.action-icon {
    font-size: clamp(1rem, 2vw, 3rem);
    color: #000000;
    margin-bottom: 1rem;
}
.action-title {
    font-size: clamp(1rem, 2vw, 3rem);
    color: black;
    font-weight: 600
}
.action-description{
    font-size:clamp(0.5rem, 1vw, 2rem);
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    line-height:1.5;
    width: 100%;
}
.action-btn{
    background: linear-gradient(135deg, rgb(105,27,79) 0%, rgb(169,49,81) 50%, rgb(105,27,79) 100%);
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    white-space: nowrap;
    transition: all .3s;
    box-shadow: 0 7px 15px rgba(164,33,68,.24);
    font-family: sans-serif;
}
.info-card {
    background: linear-gradient(135deg, #013630 0%, #024e45 50%, #013630 100%);
    margin:10px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding:auto;
    color: white;
    text-align: center;
    border: 1px solid #000000;
    margin-bottom: 0.5rem;
    height: 3rem;
    align-content:center;
}
.info-icon {
    font-size: 100%;
    margin-bottom:auto;
}
.info-text {
    margin-bottom:auto;
    font-family:'Arial Narrow Bold';
    font-size: 100%;
}
